body{
	margin: 0;
	padding: 0;
	background-image: url("../img/yb.png");
	background-repeat: repeat;
}
#wrapper{
	width:70%;
/*	border: 1px solid #000;
*/	margin: 0 auto;
	height: 100%;
}
ul{
	list-style: none;
	margin-left: 395px;
	margin-bottom: 0;
}

li {
 float: left;
 padding: 5px;
}
li a {
 display: block;
 color: black;
 text-align: center;
 padding: 5px;
 text-decoration: none;
 

}
ul li a:hover{
	border-bottom: 1px solid red;
	padding-bottom: 5px;
}
.img-2{
	
	width: 100%;
	height: 3px;
	


	
	
	background-repeat: repeat-x;
}

.z{
	display: inline-block;
}

section{width: 650px;

}
.aside{
	background-color: #808080;
	float: right;
	padding: 20px;
	font-size: 10px;
	width: 240px;
}
	.w{
		padding-left: 45px;
	}
	.n{
		background-color: black;
		opacity: 0.6;
		color: white;
		height: 18px;
		position: relative;
		top: -40px;
	}
	.xy{position: relative;
		top: -45px;
		right: -45px;
	}
	
	.left{width: 100px;
		height: 200px;
		position: left;
	}
		
		.right{
			top: 100px;
			right: 200px;
			position: absolute;
		}
		.xx{
			position: relative;
			top: -104px;
			right: -239px
		}
		.yy{
			position: relative;
			top: -213px;
			right: -577px
		}
		.nnn{
			margin: auto;
			display: block;
			top:-12px;
		}
		.er{
			width: 100%;
			border-radius: 6px;
		}
		.don{
			border: 0;
			background-color: red;
			color: white;
			border-radius: 4px;	
			position: relative;
			top: -36px;
			right: -747px;
		}
section{
	width: 700px;
}
.img2{

		width: 100%;
		height: 3px;
		margin-top: 0;

	}
.img7{

		position: relative;
		top: -7px;
		left: 410px;
		width: 60px;
	}
		.adi{

    	font-size: 17px;
    	margin-top: -13px;
    	width: 136px;

	}

	.ade{

		width: 322px;
		float: right;
		margin-top: -17px;

	}

	.img8{

		width: 75px;

	}

	.adsi{

		width: 330px;
		margin-top: -17px;
		float: right;
		font-size: 17px;

	}

	.pi{

		text-align: center;

	}

	.pie{

		font-size: 17px;

	}

	.u2{

		width: 85px;
		float: right;
		position: relative;
		top: -23px;
		left: -197px; 
		font-size: 13px;
		color: red;

	}

	.u1{

		width: 110px;
		float: left;
		position: relative;
		top: -138px;
		left: -261px;
		font-size: 12px;
		color: red;
	
	}

	.abd{

		font-size: 14px;

	}

	.h2{

		font-size: 25px;

	}